:root {
  --text: #e7f2fb;
  --background: #041119;
  --primary: #8ec7ec;
  --secondary: #991932;
  --accent: #dc912a;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  height: 100vh;
  min-height: 100vh;
}
